@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Poppins&display=swap');

$font-family-serif: 'Lora', serif !default;
$font-size: 1rem !default;
$font-family-sans: 'Poppins', sans-serif !default;
$line-height: 1.5 !default;
$max-width: 680px !default;

body {
  margin: 0 auto;
  font-family: $font-family-serif;
  font-size: $font-size;
  background: var(--color-background);
  color: var(--color-foreground);
}

.wrapper {
  max-width: $max-width;
  margin: auto auto calc(var(--base-gutter) * 2);
  padding-left: calc(var(--base-gutter) * 2);
  padding-right: calc(var(--base-gutter) * 2);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans;
}

header {
  nav {
    ul {
      font-family: $font-family-sans;
      display: flex;
      list-style: none;
      justify-content: flex-end;
      align-items: center;
      text-transform: uppercase;
      gap: 0.5rem;

      li a {
        font-size: small;
        display: block;
        padding: calc(var(--base-gutter) / 4) calc(var(--base-gutter) / 2);
        background: var(--color-foreground);
        color: var(--color-background);
        border-radius: var(--base-border-radius);

        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  --foreground-opacity: 0.1;
  background: var(--color-foreground);
  padding: var(--base-gutter);
  border-radius: calc(var(--base-border-radius) * 2);
  line-height: var(--content-line-height);

  p {
    text-align: justify;
  }
}
