
* {
  --content-line-height: 1.5;
  --background-opacity: 1;
  --foreground-opacity: 1;
  --color-background: rgba(34, 39, 46, var(--background-opacity));
  --color-foreground: rgba(199, 189, 173, var(--foreground-opacity));
}
